{% extends 'base.html.twig' %}

{% block title %}À Propos De Nous-EEED
{% endblock %}

{% block body %}

<section>
	<div class="block no-padding  gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="inner2">
						<div class="inner-title2">
							<h3>À propos de nous</h3>
							<span>Tenez-vous au courant des dernières nouvelles	</span>
						</div>
						<div class="page-breacrumbs">
							<ul class="breadcrumbs">
								<li><a href="/" title="">Acceuil</a></li>
								{# <li><a href="#" title="">Pages</a></li> #}
								<li><a href="/liens-utiles/à-propos-de-nous" title="">À propos de nous</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="block">
		<div class="container">
			 <div class="row">
				 <div class="col-lg-12">
					 <div class="about-us">
						 <div class="row">
							 <div class="col-lg-12">
								 <h3>À propos de EEED</h3>
							 </div>
							 <div class="col-lg-7">
								 {# <p>Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally wow absolutely crud meretriciously hastily dalmatian a glowered inset one echidna cassowary some parrot and much as goodness some froze the sullen much connected bat wonderfully on instantaneously eel valiantly petted this along across highhandedly much. </p>
								 <p>Repeatedly dreamed alas opossum but dramatically despite expeditiously that jeepers loosely yikes that as or eel underneath kept and slept compactly far purred sure abidingly up above fitting to strident wiped set waywardly far the and pangolin horse approving paid chuckled cassowary oh above a much opposite far much hypnotically more therefore wasp less that hey apart well like while superbly orca and far hence one.Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy.</p> #}
								<p>Chaouch Ali, fondateur de EEED, a lancé cette initiative passionnante en 2024 avec l'objectif de créer un impact positif dans la vie des nouveaux diplômés en Tunisie. Fort de sa vision de soutenir la réussite professionnelle et l'épanouissement des jeunes talents, Chaouch Ali a réuni une équipe dévouée pour concrétiser cette mission.</p>
								<p>À EEED, notre mission est d'accompagner les nouveaux diplômés tout au long de leur transition vers le monde professionnel. Nous croyons en l'importance de fournir les ressources nécessaires, les compétences et le soutien dont ils ont besoin pour atteindre leurs objectifs de carrière et contribuer de manière significative à la société.</p>
								<p>Nous aspirons à être un catalyseur de réussite professionnelle en offrant un accompagnement personnalisé, des ressources de qualité, et en favorisant une communauté dynamique où les nouveaux diplômés peuvent s'épanouir et réaliser leur plein potentiel.</p>
								<p>Nous sommes ravis de faire partie de votre parcours professionnel. Pour toute question, suggestion, ou collaboration, n'hésitez pas à nous contacter.</p>
								
							 </div>
							 <div class="col-lg-5">
								 <img src="{{asset('assets/images/resource/bsd1.jpg')}}" alt="" />
							 </div>
							 <div class="col-lg-12">
							 <h6>Ce Que Nous Offrons :</h6>
							 	<ul>
								<li><strong>Orientations Professionnelles :</strong> Des évaluations approfondies pour identifier les compétences et les objectifs professionnels.</li>
								<li><strong>Développement des Compétences :</strong> Des formations en ligne et des sessions de mentorat pour renforcer les compétences professionnelles.</li>
								<li><strong>Réseautage Professionnel :</strong> Des occasions de rencontrer des mentors, des professionnels du secteur et d'autres jeunes talents.</li>
								<li><strong>Soutien Entrepreneurial :</strong> Des ressources pour ceux qui aspirent à l'entrepreneuriat</li>
								</ul>
							</div>
						 </div>
						 
					 </div>
				 </div>
			 </div>
		</div>
	</div>
</section>





<section>
	<div class="block">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading">
						<h2>Entreprises que nous avons aidées</h2>
						<span>Certaines des entreprises que nous avons aidées à recruter d'excellents candidats au fil des ans.</span>
					</div><!-- Heading -->
					<div class="comp-sec">
						<div class="company-img">
							<a href="#" title=""><img src="{{asset('assets/images/resource/cc1.jpg')}}" alt="" /></a>
						</div><!-- Client  -->
						<div class="company-img">
							<a href="#" title=""><img src="{{asset('assets/images/resource/cc2.jpg')}}" alt="" /></a>
						</div><!-- Client  -->
						<div class="company-img">
							<a href="#" title=""><img src="{{asset('assets/images/resource/cc3.jpg')}}" alt="" /></a>
						</div><!-- Client  -->
						<div class="company-img">
							<a href="#" title=""><img src="{{asset('assets/images/resource/cc4.jpg')}}" alt="" /></a>
						</div><!-- Client  -->
						<div class="company-img">
							<a href="#" title=""><img src="{{asset('assets/images/resource/cc5.jpg')}}" alt="" /></a>
						</div><!-- Client  -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}
